apiVersion: v1
kind: Service
metadata:
  name: workflow-api-svc
  labels:
    {{- include "n8n.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
  selector:
    app: n8n-api
    {{- include "n8n.labels" . | nindent 4 }}

