apiVersion: v1
kind: Service
metadata:
  name: n8n-dev-api
spec:
  serviceAccountName: {{ .Values.serviceAccount.name }}
  type: {{ .Values.service.type }}
  selector:
    app: n8n-dev-api
  ports:
    - protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
