# ----------------------------
# Service Account
# ----------------------------
serviceAccount:
  create: true
  name: n8n-dev-sa

# ----------------------------
# App Settings
# ----------------------------
replicas: 1
timezone: Australia/Sydney

# ----------------------------
# Image
# ----------------------------
image:
  repository: nomad1111/n8n-custom
  tag: develop
  pullPolicy: IfNotPresent

# ----------------------------
# Ingress (optional)
# ----------------------------
ingress:
  enabled: true
  className: nginx
  host: n8n-dev.local
  tls: []

# ----------------------------
# Service
# ----------------------------
service:
  type: ClusterIP
  port: 5678
  targetPort: 5678

# ----------------------------
# Persistence
# ----------------------------
persistence:
  enabled: true
  storageClass: null
  accessMode: ReadWriteOnce
  size: 1Gi
  mountPath: /home/node/.n8n
