serviceAccountName: n8n-dev-sa
replicas: 1
timezone: Australia/Sydney

image:
  repository: n8n-custom
  tag: dev
  pullPolicy: IfNotPresent

ingress:
  enabled: true
  className: nginx
  host: n8n-dev.local

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 1Gi
  storageClass: ""
  mountPath: /home/node/.n8n
