serviceAccountName: n8n-uat-sa
replicas: 1
timezone: Australia/Sydney

image:
  repository: nomad1111/n8n-custom
  tag: uat
  pullPolicy: IfNotPresent

ingress:
  enabled: true
  className: nginx
  host: n8n-uat.local

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 1Gi
  storageClass: ""
  mountPath: /home/node/.n8n
