serviceAccountName: n8n-prod-sa
replicas: 2
timezone: Australia/Sydney

image:
  repository: n8n-custom
  tag: prod
  pullPolicy: IfNotPresent

ingress:
  enabled: true
  className: nginx
  host: n8n.mycompany.com

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 5Gi
  storageClass: ""
  mountPath: /home/node/.n8n
