name: CI/CD Pipeline

on:
  push:
    branches:
      - develop
      - uat
      - main

jobs:
  build-and-push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t n8n-custom:${{ github.ref_name }} -f Docker/Dockerfile .


      - name: Tag image for Docker Hub
        run: |
          docker tag n8n-custom:${{ github.ref_name }} nomad1111/n8n-custom:${{ github.ref_name }}

      - name: Push Docker image
        run: |
          docker push nomad1111/n8n-custom:${{ github.ref_name }}

      - name: Update correct Helm values file
        run: |
          if [ "${{ github.ref_name }}" = "develop" ]; then FILE="helm/values-dev.yaml"; fi
          if [ "${{ github.ref_name }}" = "uat" ]; then FILE="helm/values-uat.yaml"; fi
          if [ "${{ github.ref_name }}" = "main" ]; then FILE="helm/values-prod.yaml"; fi
          echo "Updating tag in $FILE"
          sed -i "s|tag: .*|tag: ${{ github.ref_name }}|" "$FILE"

      - name: Commit updated values
        run: |
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "GitHub Actions"
          git add helm/
          git commit -m "Update Helm values for ${{ github.ref_name }} image" || echo "No changes"
          git push
